<app-nav></app-nav>
<main>
  <div class="container" style="height:1300px;">
    <div class="row mt-5 pt-5">
      <div class="col text-center">
        <!--Panel-->
        <div class="card">
          <div class="card-header  bg-dark lighten-1 white-text">
            Add - Website
          </div>
          <div class="card-body">
            <!-- Material form register -->
            <div class="form col-md-6 offset-3" [formGroup]="cardForm">               
              <div class="md-form">   
                <input type="text" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" formControlName="name" id="name"
                  class="form-control" mdbInputDirective>
                <label for="name">Website Name</label>
                <div *ngIf="f.name.errors" class="red-text">*</div>
              </div>
              <div class="md-form">                 
                <input type="text" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" formControlName="description" id="description"
                  class="form-control" mdbInputDirective>
                <label for="description">Website description</label>
                <div *ngIf="f.description.errors" class="red-text">*</div>
              </div>
              <div class="md-form">          
                <input type="text" [ngClass]="{ 'is-invalid': submitted && f.url.errors }" formControlName="url" id="url"
                  class="form-control" mdbInputDirective>
                <label for="url">Website Url</label>
                <div *ngIf="f.url.errors" class="red-text">*</div>
              </div>
              <div class="text-center py-4 mt-3">
                <button class="btn btn-primary waves-light" (click)="add()" type="submit" mdbWavesEffect>CREATE</button>
              </div>
            </div>
            <!-- Material form register -->
          </div>
          <div>
           <p style="color: red">{{message}}</p> 
          </div>
        </div>
        <!--/.Panel-->
      </div>
    </div>
  </div>
</main>
<!-- /.Main -->