.view {
    background: url("https://i.cdnraw.com/previews/downloads/s/v/y/s-high-altitude-hot-air-balloons-VyRfWOQHYI-1.jpg")no-repeat center center;
    background-size: cover;
    height: 100vh;
}
.title{
    color:  white;
}