################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/POC-Websites/API/Authenticate-api/.vs
/POC-Websites/API/Website-api/.vs
