
 <!-- Grid row -->
 <div class="row">
  <!-- Grid column -->
  <div class="col-md-12">
    <div class="md-form">
      <input type="search" [(ngModel)]="searchText" id="search" class="form-control" mdbInputDirective [mdbValidate]="false">
      <label for="search">Search For A Website</label>
    </div>
  </div>
  <!-- Grid column -->
</div>
<!-- Grid row -->
<!--Table-->
<table class="table" >
    <!--Table head-->
    <thead class="mdb-color darken-3">
        <tr class="text-white">        
            <th>Website Name</th>
            <th>Description</th>
            <th>Publisher</th>
            <th>Publish Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <!--Table head-->  
    <!--Table body-->
    <tbody>
        <tr *ngFor="let item of websites | filter: searchText | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">           
          <td>{{item.name}}</td>
          <td>{{item.description}}</td>        
          <td>{{item.publisher}}</td>
          <td>{{item.datePublished}}</td>
          <td ><a href="{{item.url}}" target="_blank" class="btn btn-primary">visit</a></td> 
        </tr>     
    </tbody>
    <!--Table body-->
  </table>
  <hr class="my-0">  
  <br/>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
    <!--Bottom Table UI-->
  <ng4-loading-spinner [template]="template"> </ng4-loading-spinner>
  <!--Table-->