

<!--Table-->
<table class="table" >
  <!--Table head-->
  <thead class="mdb-color darken-3">
      <tr class="text-white">        
          <th>Website Name</th>
          <th>Description</th>
          <th>Publisher</th>
          <th>Publish Date</th>
          <th>Action</th>
      </tr>
  </thead>
  <!--Table head-->  
  <!--Table body-->
  <tbody>
      <tr *ngFor="let item of websites">           
          <td>{{item.name}}</td>
          <td>{{item.description}}</td>        
          <td>{{item.publisher}}</td>
          <td>{{item.datePublished}}</td>
          <td><a href="{{item.url}}" target="_blank" class="btn btn-primary">visit</a></td>
      </tr>         
  </tbody>
  <!--Table body-->
</table>
<ng4-loading-spinner [template]="template"> </ng4-loading-spinner>
<!--Table-->