
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark black" [containerInside]="true">
      <logo>
          <a class="logo navbar-brand nav-link"  RouterLink="" style="color: white"><strong>poc - websites</strong></a>
      </logo>
      <links>
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active waves-light" mdbWavesEffect>
                  <a class="nav-link" RouterLink="">home <span class="sr-only">(current)</span></a>
              </li>              
          </ul>
      </links>
  </mdb-navbar>
  <!-- Main -->
  
 