<!-- Main -->
<app-nav></app-nav>
<main>
  <div class="container" style="height:1300px;">
    <div class="row mt-5 pt-5">
      <div class="col text-center">
        <!--Panel-->
        <div class="card">
          <div class="card-header  bg-dark lighten-1 white-text">
              Welcome - Traveller !!!
          </div>
          <div class="card-body">
              <app-list-websites></app-list-websites>
              <!-- <div class="row wow fadein">
                <p>{{message}}</p>
              </div> -->
              <a class="btn btn-deep-orange waves-light" routerLink="/login" mdbWavesEffect>Log Out</a>
          </div>
        </div>
        <!--/.Panel-->
      </div>
    </div>
  </div>
</main>
<!-- /.Main -->